<p id="notice"><%= notice %></p>

<!-- if !current_user -->
<!-- <h1>You need to make a login!</h1>
<%= link_to 'Create Login', new_login_detail_url %> -->

<h1>Your Profile Details</h1>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @person.phone_number %>
</p>

<p>
  <strong>City:</strong>
  <%= @person.city %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Delete Profile', person_path(@person) %> |
<%= link_to 'Back', people_path %>

<!-- if role is caregiver, show one family -->
<h2>Your Family</h2>
<%= link_to 'Add Family', families_path(@person) %> |
<%= render "families" %>

<!-- if role is sitter, show all families -->
<h2>Your Families</h2>
<%= link_to 'Add Family', families_path(@person) %> |
<%= render "families" %>

<!-- if role is caregiver, show all sitters -->
<h2>Your Sitters</h2>
<%= render "sitters" %>
