<%= form_for(family) do |f| %>
  <% if family.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(family.errors.count, "error") %> prohibited this family from being saved:</h2>

      <ul>
      <% family.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="new-family-form">
    <%= semantic_form_for @person do |f| %>
      <%= f.inputs do %>
        <%= f.input :family_name %>
      <% end %>
      <%= f.actions %>
    <% end %>
    <div class="actions">
      <%= f.submit %>
    </div>
      </div>
    <% end %>

  <div class="form-group row">
    <label for="example-search-input" class="col-xs-2 col-form-label">Search</label>
    <div class="col-xs-10">
      <input class="form-control" type="search" value="How do I shoot web" id="example-search-input">
    </div>
  </div>
  <div id="find-a-family">
    <%= semantic_form_for @person do |f| %>
      <%= f.inputs do %>
        <%= f.input :family_name %>
      <% end %>
      <%= f.actions %>
    <% end %>
    <div class="actions">
      <%= f.submit %>
    </div>
      </div>
    <% end %>
